<!DOCTYPE html>
<html>

<head>
    <title>Web application</title>
</head>

<body>

<h2>Enjoy Zero To Hero</h2>

<form id="form1" name="name" action="../info" method="get">
    <table>
        <tr>
            <td>
                <label for="nameF">First name:</label>
                <input type="text" id="nameF" name="firstName"/>
            </td>
            <td>
                <label for="nameL">Last name:</label>
                <input type="text" id="nameL" name="lastName"/>
            </td>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>

<script type="application/javascript" src="../js/cookie.js"></script>
</body>
</html>
